@font-face {
    font-family: 'Burger Quiz';
    font-weight: 400;
    font-style: normal;
    src: url('burgerquiz.ttf') format('truetype');
}

body {
    font-family: 'Burger Quiz';
    background: black;
    user-select: none;
}

body > img {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

#teams {
    display: flex;
    margin-top: 90px;
}

#ketchup, #mayo {
    max-width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 356px;
    line-height: 430px;
    margin: 0 auto;
    display: flex;
}

#ketchup {
    color: #c30000;
}

#mayo {
    color: #ffd800;
}

.num {
    position: relative;
}

.num:before,
.num:before {
    content: '';
    display: block;
    width: 126px;
    height: 245px;
    position: absolute;
    background: white;
    z-index: -1;
    top: 36px;
    left: 31px;
}

.decoration {
    position: relative;
    top: -70px;
    left: -10px;
    z-index: 1;
}

.decoration img {
    width: 290px;
    margin-top: 120px;
}

#resetscore {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

#fullscreen {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}
